# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Datos privados
/data/raw/*.xlsx
/data/raw/*.csv

# Modelos entrenados
models/
*.model
*.pkl

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
